<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--Application-->
        <add key="ApplicationServiceTypeName" value="Company.Services.TaskQueuer.Application.ApplicationService" />
        
        <!--Logging-->
        <add key="LoggerTypeName" value="Company.Services.TaskQueuer.Infrastructure.Logging.WindowsEventLogger" />
        <add key="EventSource" value="Company.Services.TaskQueuer" />
        
        <!--Queuer-->
        <add key="ParallelTaskCount" value="4" />
        <add key="ProcessItemTimeout" value="1000" />
    </appSettings>
</configuration>